.env*

db_backups
uploads
postfix-config
server/data-exports/

# User-specific stuff
.idea
*.iml

# Dependencies
node_modules/

# misc
.DS_Store

# E2E test runner
.e2e-pids/
.e2e-server.log
.e2e-client.log
/docs/files/.$subsystem-decomposition.drawio.bkp
